@import '/src/styles/hoverBrightness';

.createBook {
  .fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      margin-bottom: 40px;

      .fieldName {
        display: block;
        margin-bottom: 6px;
      }

      .message {
        display: block;
        position: absolute;
        bottom: -25px;
        white-space: nowrap;
      }
    }
  }
}
