@import './styles/container';
@import './styles/hoverBrightness';
@import '/src/styles/disabled';

* {
  color: #fff;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  list-style-type: none;
}

input::-webkit-input-placeholder {
  color: #b3b8c9;
}
input:-moz-placeholder {
  color: #b3b8c9;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

input {
  outline: none;
  border: none;

  &[type='submit'] {
    &.loading {
      @extend %disabled;
    }
    &:disabled {
      @extend %disabled;
    }
  }
}

body {
  margin: 0;
  background-color: #030016;
}

.body {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr 100px;
  height: 100vh;
}

header {
  grid-area: header;
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%;
  // height: 80px;
  background-color: #030016;
  border-bottom: solid 1px #29263e;
  transition: all 0.3s ease-out 0s;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .search-input {
    width: 100%;
    margin: auto 0 auto 50px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
}

.header-left {
  width: 380px;
  display: flex;

  .button-burger {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: auto 0;
    cursor: pointer;
    @extend %hover-brightness;

    .burger {
      height: 26px;
      margin: auto 0;
    }
  }

  .burger-genres {
    position: absolute;
    padding: 10px 30px;
    bottom: -30px;
    background-color: #130d3d;
    border-radius: 10px;
  }
}

.header-centr {
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Libre Bodoni';
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    cursor: pointer;
    @extend %hover-brightness;
  }
}

.header-right {
  display: flex;
  width: 380px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

  li {
    margin: auto 0 auto 30px;
    height: 25px;
    // position: relative;
    cursor: pointer;
    @extend %hover-brightness;

    img {
      height: 100%;
    }

    span {
      position: absolute;
      bottom: -2px;
      right: -8px;
      font-size: 11px;
      color: #c5c6e2;
    }
  }
}

main {
  grid-area: main;
  padding: 30px 0;

  .errors {
    color: #b22c2c;
  }

  .fallback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    span {
      font-size: 20px;
    }
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }

  .fields {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      margin-bottom: 30px;

      &:nth-last-child(1) {
        margin-bottom: 40px;
      }

      .fieldName {
        display: block;
        margin-bottom: 6px;
      }

      .message {
        display: block;
        position: absolute;
        bottom: -25px;
        white-space: nowrap;
      }
    }
  }

  form {
    input {
      &[type='submit'] {
        display: block;
        width: 210px;
        font-size: 16px;
        font-weight: 700;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 1em;
        background-color: #130d3d;
        border-radius: 15px;
        @extend %hover-brightness;
        cursor: pointer;

        &.hidden {
          display: none;
        }
      }
    }

    .input-auth {
      margin-bottom: 20px;
    }
  }

  .input {
    transition: border 0.25s ease-in-out;
    width: 210px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: #030016;
    border: 1px solid #29263e;
    border-radius: 10px;

    &.invalid {
      border: 1px solid #bf3131;
    }

    &[type='file'] {
      padding: 0;
      border: none;

      &::file-selector-button {
        padding: 11px 0 11px 0;
        width: 100%;
        color: #fff;
        background-color: #130d3d;
        border: none;
        transition: all 0.3s ease-out 0s;
        cursor: pointer;

        &:hover {
          @extend %hover-brightness;
        }
      }
    }

    &:focus {
      border: 1px solid #54516d;
    }
  }

  .personal-area {
    .info {
      margin-bottom: 25px;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-logout {
        display: block;
        width: 210px;
        font-size: 16px;
        font-weight: 700;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
        line-height: 1em;
        background-color: #3d0d0d;
        border-radius: 15px;
        @extend %hover-brightness;
        cursor: pointer;
      }
    }
  }

  .books {
    display: grid;
    grid-template-columns: repeat(4, 208px);
    justify-content: space-between;
    row-gap: 50px;
    padding: 0 64px;
  }

  .book {
    display: flex;
    flex-wrap: wrap;

    .bookCover {
      width: 248px;
    }

    .details {
      flex-grow: 1;
      padding: 0;
      margin: 10px 0 0 50px;

      li {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;

        .border {
          position: relative;
          bottom: 2px;
          margin: 0 5px;
          flex: 1;
          border-bottom: 1px dashed #848484;
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: start;
      margin-left: 50px;
      width: 243px;
      // height: 216px;
      padding: 0 15px;
      background-color: #0a071e;
      border-radius: 15px;

      .price {
        margin: 20px 0;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
      }

      .addToCart {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 15px;
        line-height: 1em;
        background-color: #130d3d;
        border-radius: 15px;
        border: none;
        @extend %hover-brightness;
        cursor: pointer;
      }

      .addToFavorites {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 15px;
        line-height: 1em;
        background-color: #671a0f;
        border-radius: 15px;
        border: none;
        @extend %hover-brightness;
        cursor: pointer;
      }

      .delete {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 15px;
        line-height: 1em;
        background-color: #671a0f;
        border-radius: 15px;
        border: none;
        @extend %hover-brightness;
        cursor: pointer;
      }

      .update {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 15px;
        line-height: 1em;
        background-color: #674b0f;
        border-radius: 15px;
        border: none;
        @extend %hover-brightness;
        cursor: pointer;
      }
    }
  }
}

footer {
  grid-area: footer;
  background-color: #030112;
  // height: 80px;
  border-top: solid 1px #1d1a32;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

    .footer-left {
      margin: auto 0;
      span {
        color: #abaab3;
        font-size: 14px;
      }
    }

    .footer-right {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        height: 20px;
        margin: auto 0 auto 15px;
        @extend %hover-brightness;
      }

      img {
        height: 100%;
      }

      .logo-vk {
        position: relative;
        top: -2px;
        height: 120%;
      }

      .logo-email {
        position: relative;
        top: -1px;
        height: 115%;
      }
    }
  }
}

@media only screen and (max-width: 1060px) {
  main {
    .books {
      grid-template-columns: repeat(3, 208px);
      row-gap: 40px;
      justify-content: space-around;
      padding: 0;
    }

    .book {
      .actions {
        width: 100%;
        margin: 30px 0 0 0;
      }
    }
  }
}

@media only screen and (max-width: 812px) {
  main {
    .books {
      grid-template-columns: repeat(2, 208px);
      row-gap: 30px;
      justify-content: space-around;
    }
  }
}

@media only screen and (max-width: 560px) {
  .body {
    grid-template-rows: 110px 1fr 80px;
  }

  header {
    .container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 10fr 7fr;
      .search-input {
        margin: auto 0 auto 10px;
        width: 90%;
      }
    }
  }

  .header-left {
    display: none;
  }

  .header-centr {
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 40px;
    }
  }

  .header-right {
    justify-content: center;
    width: 100%;

    li {
      margin: auto 12px auto 12px;
    }
  }

  main {
    padding: 20px 0;

    h2 {
      font-size: 28px;
      font-weight: 700;
      margin: 0 0 20px 0;
    }

    .books {
      grid-template-columns: repeat(2, 140px);
      row-gap: 20px;
      justify-content: space-around;
    }
  }
}
