@import '/src/styles/hoverBrightness';

.book {
  $info-color: #d4d7e3;

  position: relative;
  width: 208px;
  height: 325px;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  transition: transform 0.3s ease-out;
  cursor: pointer;

  &:hover,
  &:focus-within {
    transform: translateY(-4px);

    .infoTop,
    .infoBottom {
      opacity: 1;
      animation: info 0.3s ease-out;
    }
  }

  @keyframes info {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  %info {
    opacity: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(3, 0, 26, 0.75);
    padding: 0 15px;
  }

  .bookCover {
    height: 100%;
    object-fit: cover;
  }

  .infoTop {
    @extend %info;
    display: flex;
    justify-content: space-between;
    height: 50px;

    .price {
      display: block;
      margin: auto 0;
      font-size: 20px;
      font-weight: 700;
      color: $info-color;
    }

    .like {
      margin: auto 0;
      height: 19px;
      object-fit: contain;
      @extend %hover-brightness;
      transition: filter 0.2s ease-in-out, transform 0.1s ease-in-out;

      &:active {
        transform: scale(0.93);
      }
    }
  }

  .infoBottom {
    @extend %info;

    display: flex;
    flex-direction: column;
    height: 110px;
    bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;

    %hidden-info {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .title {
      @extend %hidden-info;
      max-height: 2.5em;
      margin-top: 10px;
      margin-bottom: 8px;
      color: $info-color;
    }

    .author {
      @extend %hidden-info;
      margin-bottom: 8px;
      color: $info-color;
    }

    .year {
      @extend %hidden-info;
      margin-bottom: 8px;
      color: $info-color;
    }

    .pages {
      @extend %hidden-info;
      color: $info-color;
    }
  }
}

@media only screen and (max-width: 560px) {
  .book {
    width: 140px;
    height: 219px;

    .infoTop {
      height: 35px;

      .price {
        font-size: 15px;
      }

      .like {
        height: 15px;

        &:active {
          transform: scale(0.93);
        }
      }
    }

    .infoBottom {
      height: 60px;
      font-size: 9px;
      font-weight: 700;

      .title {
        margin-top: 4px;
        margin-bottom: 3px;
      }

      .author {
        margin-bottom: 3px;
      }

      .year {
        margin-bottom: 3px;
      }
    }
  }
}
